<input type="hidden" #selection>

<form class="example-form">
  <div class="example-full-width">
    <button mat-button click (click)="selection.value = 'save'">Add</button>
    <button mat-button click (click)="selection.value = 'delete'">Delete</button>
    <button mat-button click (click)="selection.value = 'update'">Update</button>    
    <button mat-button click (click)="selection.value = 'getById'">Get By Id</button>    
    <button mat-button click (click)="selection.value = 'getAll'; getAll()">Get All</button>    
  </div>

  <div [ngSwitch]="selection.value">
    <div *ngSwitchDefault>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="User Id" type="number" [(ngModel)]="UserId" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="First Name" [(ngModel)]="FirstName" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name" [(ngModel)]="LastName" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Phone Number" type="number" [(ngModel)]="PhoneNumber" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <button mat-button class="example-full-width" (click)="add()">Save</button>  
    </div>

    <div *ngSwitchCase="'delete'">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="User Information Id" [(ngModel)]="id" #idField name='idField' [ngModelOptions]="{standalone: true}">
      </mat-form-field>
  
      <button mat-button class="example-full-width" (click)="delete()">Delete</button>
    </div>

    <div *ngSwitchCase="'update'">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="User Information Id" [(ngModel)]="id" #idField name='idField' [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="User Id" type="number" [(ngModel)]="UserId" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="First Name" [(ngModel)]="FirstName" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name" [(ngModel)]="LastName" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Phone Number" type="number" [(ngModel)]="PhoneNumber" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <button mat-button class="example-full-width" (click)="update()">Update</button>
    </div>

    <div *ngSwitchCase="'getById'">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="User Information Id" [(ngModel)]="id" #idField name='idField' [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <button mat-button class="example-full-width" (click)="getById()">Get By Id</button> 
      
      <div *ngFor="let userInformation of userInformations">
        <div class="example-full-width">{{userInformation.firstName}} | {{userInformation.lastName}} | {{userInformation.phoneNumber}}</div>
      </div>

      <div class="example-full-width" *ngIf="responseString != null">
        <div class="center-text">{{responseString}}</div>
      </div>
    </div>

    <div *ngSwitchCase="'getAll'">
      <div *ngFor="let userInformation of userInformations">
        <div class="example-full-width">{{userInformation.firstName}} | {{userInformation.lastName}} | {{userInformation.phoneNumber}}</div>
      </div>
    
      <div class="example-full-width" *ngIf="responseString != null">
        <div class="center-text">{{responseString}}</div>
      </div>
    </div>
  </div>
</form>

