<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enterprise Id" type="number" [(ngModel)]="EnterpriseId" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" [(ngModel)]="Name" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Location" [(ngModel)]="Location" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Rent Price" type="number" [(ngModel)]="rentRrice" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Cost" type="number" [(ngModel)]="Cost" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <button mat-button class="example-full-width" (click)="Add()">Save</button>
</form>
